TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Windows/MainWindow.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Windows/EditUserWindow.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Windows/EditProjectWindow.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Windows/EditCustomerWindow.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Windows/EditActivityWindow.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Controls/TimeEntryControl.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Controls/TextControl.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Controls/ReportingControl.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Controls/NewUserControl.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Controls/EditUserControl.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Controls/EditTimeEntryControl.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Controls/CheckBoxControl.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Resources/Styles/Styles.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/MainWindow.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/MainWindow.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/MainWindow.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditUserWindow.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditUserWindow.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditUserWindow.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditProjectWindow.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditProjectWindow.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditProjectWindow.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditCustomerWindow.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditCustomerWindow.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditCustomerWindow.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditActivityWindow.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditActivityWindow.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Windows/EditActivityWindow.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/TimeEntryControl.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/TimeEntryControl.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/TimeEntryControl.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/TextControl.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/TextControl.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/TextControl.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/ReportingControl.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/ReportingControl.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/ReportingControl.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/NewUserControl.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/NewUserControl.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/NewUserControl.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/EditUserControl.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/EditUserControl.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/EditUserControl.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/EditTimeEntryControl.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/EditTimeEntryControl.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/EditTimeEntryControl.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/CheckBoxControl.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/CheckBoxControl.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/CheckBoxControl.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Resources/Styles/Styles.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/TimeBookingTool_Content.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/TimeBookingTool.pdb
TimeBookingToolWpfClient/TBT.App/obj/Debug/TimeBookingTool.g.resources
TimeBookingToolWpfClient/TBT.App/obj/Debug/TimeBookingTool.exe.manifest
TimeBookingToolWpfClient/TBT.App/obj/Debug/TimeBookingTool.exe
TimeBookingToolWpfClient/TBT.App/obj/Debug/TimeBookingTool.application
TimeBookingToolWpfClient/TBT.App/bin/Debug/app.publish/TimeBookingTool.exe
TimeBookingToolWpfClient/TBT.App/bin/Debug/TimeBookingTool.vshost.exe.manifest
TimeBookingToolWpfClient/TBT.App/bin/Debug/TimeBookingTool.vshost.exe.config
TimeBookingToolWpfClient/TBT.App/bin/Debug/TimeBookingTool.vshost.application
TimeBookingToolWpfClient/TBT.App/bin/Debug/TimeBookingTool.pdb
TimeBookingToolWpfClient/TBT.App/bin/Debug/TimeBookingTool.exe.manifest
TimeBookingToolWpfClient/TBT.App/bin/Debug/TimeBookingTool.exe.config
TimeBookingToolWpfClient/TBT.App/bin/Debug/TimeBookingTool.exe
TimeBookingToolWpfClient/TBT.App/bin/Debug/TimeBookingTool.application
TimeBookingToolWpfClient/.vs/TimeBookingToolWpfClient/v14/.suo
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/Views/Controls/ComboBoxControl.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/xamlspy/App.xaml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/ComboBoxControl.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/ComboBoxControl.g.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/Views/Controls/ComboBoxControl.baml
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/App.g.i.cs
TimeBookingToolWpfClient/TBT.App/obj/Debug/obj/Debug/xamlspy/App.g.cs
